
.collapse.navbar-collapse.navbar-alt .navbar-nav a:hover{
  background-color: #ffac35;
  color: white;
}
.navbar.navbar-expand-lg.navbar-dark.bg-primary a{
  color:white;
}
.navbar{
  border-bottom: solid;
  border-bottom-color: white;
}

body{


  background: url("../img/bg-nlc.png") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-size: 100% 100%;

}

.content{
  margin-top: 20px;
}

.aturan{
  border-style: solid;
  border-width: 1px;
  border-color: #a8f8ff;
  border-radius: 5px;
  color: #093a7c;
  background-color: #a8f8ff;
  padding: 10px;
}

.persetujuan{
  font-size: 22px;
}

.table td{
  margin: 2px;
  background-color: white;
  color: black;
}
